@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

:root {
  --text-color: #22343d;
  --text-font: "Poppins", sans-serif;
  --btn-green: #02897a;
  --bg-color: #e5e5e5;
  --color_fill:var(--btn-green);
}

*,
*:focus {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 22px;
  background: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: dashed 2px #7296ec;
  outline-offset: 3px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: var(--text-font);
}

.button {
  margin-right: 24px;
  padding: 10px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.green {
  background: var(--btn-green);
  color: #fff;
}

.button:hover {
  background: var(--btn-green);
  color: #fff;
}

.green:hover {
  background: #fff;
  color: #000;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
header {
  background: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.site-logo-text {
  display: flex;
  align-items: center;
  flex: 1;
}
.site-logo {
  width: 40px;
  height: 36px;
  margin-right: 16px;
}

.site-texte {
  width: 122px;
}

.navbar-items-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.item-navbar-items {
  margin-right: 24px;
}
.navbar-items-link {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.navbar-items-link:hover {
  color: var(--btn-green);
}

.dark-mode {
  padding: 10px;
  border: 2px solid #4e6069;
  border-radius: 50%;
  background: linear-gradient(
    270deg,
    rgb(250, 243, 246) 50%,
    rgb(5, 87, 2) 50%
  );
  cursor: pointer;
}

/* 
MAIN CONTENT */

.main-content {
  flex-grow: 1;
}
.landing {
  margin-top: 43px;
  display: flex;
  align-items: center;
}

.landing-title {
  width: 518px;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}

.landing-text {
  margin-top: 18px;
  width: 458px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.landing-buttons {
  margin-top: 45px;
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.landing-video-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #02897a;
}

.landing-video-link:before {
  content: url("../img/play.svg");
  margin-right: 8px;
  width: 40px;
  height: 40px;
  color: #02897a;
}
.landing-img {
  width: 600px;
}

/* PRODUCT */
.product-section {
  padding-top: 114px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 57px;
  width: 539px;
}
.product-list {
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
  display: flex;
}
.product-list-item {
  width: 240px;
  text-align: left;
}
.product-list-item:not(:last-child) {
  margin-right: 46px;
}
.product-list-item-img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
}
.product-list-item-heading {
  margin: 0;
  margin-bottom: 13px;
}
.product-list-item-text {
  margin: 0;
}

/* OUR-PROCESS */
.our-process {
  padding-top: 169px;
}
.process-list {
  padding: 0;
  list-style: none;
}
.process-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process-list-item:not(:last-child) {
  margin-bottom: 168px;
}
.process-item-img {
  display: flex;
  width: 540px;
  height: 473px;
}
/* .process-list-item .process-item-img{
            order: 2;
        } */
.managment-infos,
.customer,
.collaborative {
  width: 490px;
}

.managment-infos {
  order: -1;
}
.collaborative {
  order: -1;
}

.head {
  margin: 0;
  margin-bottom: 8px;
}

.process-title {
  margin: 0;
  margin-bottom: 23px;
}
.accessory {
  margin-top: 30px;
}
.alteration {
  margin-top: 25px;
}

.accessory,
.alteration .text {
  margin-top: 12px;
}

.customer-list {
  list-style: none;
  padding: 0;
}

.customer-list-item {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: left;
}

.customer-list-item img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  padding: 8px;
  display: inline-block;
  border-radius: 40%;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* QUICK-PROCESS */
.quick-process {
  padding-top: 150px;
  text-align: center;
  background-image: url("../img/Bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quick-process-title {
  padding-top: 0px;
  margin-bottom: 13px;
}
.quick-process-text {
  width: 542px;
  margin-left: auto;
  margin-right: auto;
}
.experts {
  margin-top: 46px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}
.expert-ladys,
.expert-mrs {
  display: flex;
  justify-content: space-between;
}

.expert-ladys {
  margin-bottom: 24px;
}

.expert-ladys-content {
  display: flex;
}

.expert-ladys-content .text,
.expert-mrs-content .text {
  padding: 12px;
  height: 50px;
  position: relative;
  display: inline;
  border-radius: 40px;
  background-image: url("../img/cloud.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.expert-ladys-content .text::after,
.expert-mrs-content .text::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.expert-ladys-content-1 .text::after,
.expert-mrs-content-2 .text::after {
  bottom: -20px;
  left: 10px;
}
.expert-mrs-content-1 .text::after,
.expert-ladys-content-2 .text::after {
  right: 5px;
  bottom: -15px;
}
.expert-ladys-content:not(:last-child) {
  margin-right: 178px;
}

.expert-ladys-content img {
  margin-right: 30px;
}
.expert-ladys-content-2 img,
.expert-mrs-content-1 img {
  order: 1;
  margin-left: 30px;
}
.expert-mrs-content {
  display: flex;
}

.expert-mrs-content img {
  margin-right: 30px;
}
.expert-mrs-content:not(:last-child) {
  margin-right: 178px;
}

/* CARD-SECTION */
.cards-section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.card-group {
    display: flex;
    justify-content: space-evenly;
}

.card-1, .card-2, .card-3 {
    max-width: 330px;
    border: 1px solid #777;
    border-left: none;
    border-right: none;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    cursor: pointer;
    transition:0.3s;   
}

.card-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.img-dotcont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* color: red; */
}

.dot-1, .dot-2, .dot-3 {
    fill: #7777;
}

.active  {
  fill: var(--color_fill);
}

.card:hover .card-text {
    color:var(--btn-green);
}
